$main-color: #5f5e5e;

.open-sans-class {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  line-height: 22px;
}
.wrapper {
  padding-top: 97px;
}
.header {
  background-color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  top: 0;
  z-index: 1000;
  width: 100%;
  position: fixed;
}
.navbar {
  background-color: transparent !important;
  box-shadow: none;
}
.wrapper .container {
  max-width: 1220px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.btn-app {
  background-color: rgb(56, 138, 192);
  border-radius: 25px;
  padding: 8px 20px;
  color: aliceblue !important;
  text-align: center;
  transition: background-color 0.3s;
  width: 140px;

  &:hover {
    background-color: rgb(0, 70, 150);
    color: white !important;
    text-decoration: none;
  }
}
.content-first {
  background-color: #f1f1f1;
}

.content-first .container,
.content-first .row {
  height: 100%;
}

.content-left {
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.form-title {
  padding-top: 30px;
}
.title-content-left {
  padding-top: 10px;
  padding-bottom: 10px;
}

label.required::after {
  content: " *";
  color: red;
}
.content-left-text{
  color: $main-color;
  font-size: 17px;
  line-height: 30px;
}

.registration-form {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.button {
  background-color: rgb(56, 138, 192);
  border: none;
  color: #f1f1f1;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  align-items: center;
}
.navbar-nav {
  gap: 20px;
}

.content-second {
  background-color: #fffdfd;
}

.course-title {
  padding-top: 35px;
  text-align: center;
}

.slider-course {
  padding-bottom: 40px;
}
div .col-4 {
  padding-right: 40px;
  padding-left: 40px;
}

hr {
  border: 1px solid rgb(15, 148, 201) !important;
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.swiper-pagination-bullet {
  background-color: black !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}
.course-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-statistics {
  background-color: rgb(15, 148, 201);
}

.content-statistics .container .row {
  padding-top: 25px;
  padding-bottom: 25px;
}
.card-block {
  text-align: center;
  padding: 20px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
}

.card-block img {
  width: 80px;
  height: 40px;
  height: auto;
  margin-bottom: 10px;
}
.testimony-text .quote {
  font-size: 50px;
  color: $main-color;
}
.testimony-text {
  color: $main-color;
}
.testimony-person {
  font-weight: 500;
}
.person-desc {
  font-style: italic;
}

.testimony-title {
  text-align: center;
  padding-top: 50px;
}
.card-testimony {
  text-align: center;
  padding-bottom: 30px;
}

.slick-slider {
  padding-bottom: 0px;
}

@media only screen and (max-width: 728px) {
  .navbar-collapse {
    justify-content: center !important;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

}

@media only screen and (max-width: 981px) {
  .navbar-nav {
    gap: 5px;
  }

}

@media (min-width: 992px) {
  .course-card {
    max-width: 350px;
    flex: 1 1 30%;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .course-card {
    flex: 1 1 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .button {
      background-color: rgb(56, 138, 192);
      border: none;
      color: #f1f1f1;
      border-radius: 25px;
      width: 260px;
      height: 50px;
      align-items: center;
    }
}
@media (max-width: 600px) {
  .course-card {
    flex: 1 1 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .button {
      background-color: rgb(56, 138, 192);
      border: none;
      color: #f1f1f1;
      border-radius: 25px;
      width: 260px;
      height: 50px;
      align-items: center;
    }
}

@media (max-width: 576px) {
  .content-statistics .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-block {
    padding: 10px 5px;
  }

  .card-block img {
    width: 40px;
    margin-bottom: 5px;
  }

  .card-block h5 {
    font-size: 18px;
    margin: 0;
  }

  .card-block-text {
    font-size: 14px;
  }
}
